@import '../global.scss';

.card_container {
    border: 1px solid $border-clr;
    padding: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    color: $text-clr;
    transition: border-color 0.3s ease;
    background-color: white;
    margin-bottom: auto;
    border-radius: 10px;
    overflow: hidden;

    // &:hover {
    //     border-color: darken($border-clr, 20%);
    // }
}