@import '../global.scss';

.user_card {
    color: $text-clr;

    &:hover {
        border-color: darken($border-clr, 20%);
    }

    &__avatar {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 3rem;
        color: $blue;
    }

    &__details {
        border-bottom: 1px solid $border-clr;
        margin-bottom: 1em;
        padding-bottom: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__username {
        color: $text-lighter-clr;
    }

    &__website {
        color: $text-lighter-clr;
    }

    &__company {
        font-size: 1.2rem;
        margin-bottom: 1em;
        border-bottom: 1px solid $border-clr;
        padding-bottom: 1em;
        text-align: center;
        font-weight: 700;
    }

    &__address {
        margin-bottom: 1em;
    }

    &__contact {
        margin-bottom: 1em;
    }

    &__controls {
        border-top: 1px solid $border-clr;
        padding-top: 1em;
    }


    &__email {

    }

    &__controls {
        display: flex;
        justify-content: space-between;

        i {
            margin-right: 0.5em;
        }
    }
}